@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset básico y estilos generales */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

a {
    color: #333; /* Color original del enlace */
    text-decoration: none; /* Quitar subrayado */
}

a:hover {
    color: #333; /* Mantener el mismo color al pasar el mouse */
    text-decoration: none; /* Quitar subrayado al pasar el mouse */
}


/* Barra superior */
.top-bar {
    background-color: #2196f3 !important; /* Azul más intenso */
}

.top-bar .fas {
    font-size: 1rem; /* Tamaño de los íconos */
}

.top-bar span, .top-bar strong {
    font-size: 1rem; /* Tamaño del texto */
}

.top-bar a {
    color: white;
}

.top-bar .mr-4 {
    margin-right: 1rem; /* Margen derecho para el texto de la izquierda */
}

.top-bar .mr-3 {
    margin-right: 1rem; /* Margen entre los iconos y el texto de contacto */
}

.top-contact-info{
    margin-left: 450px;
}


/* Navbar estilos */
.navbar {
    width: 100%; /* Asegura que la navbar utilice todo el ancho disponible */
}

.navbar-nav {
    width: 100%; /* Asegura que el navbar-nav ocupe todo el ancho disponible del contenedor */
    justify-content: center; /* Centra los elementos horizontalmente */
    display: flex; /* Habilita flexbox para los elementos del navbar-nav */
    
}

.container-fluid {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.navbar-nav .nav-item {
    position: relative; /* Posición relativa para los items de navegación */
}

.nav-item + .nav-item {
    border-left: 1px solid #ccc; /* Línea vertical entre items */
}


.navbar-nav .dropdown-menu {
    display: none; /* Esconde el menú dropdown inicialmente */
    position: absolute; /* Posicionamiento absoluto para el menú desplegable */
    background-color: #f9f9f9; /* Fondo del menú desplegable */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* Asegura que el menú se muestre sobre otros elementos */
}

.navbar-nav .nav-item:hover .dropdown-menu {
    display: block; /* Muestra el menú al pasar el mouse */
}

.navbar-toggler {
    margin-left: auto; /* Mueve el toggler al final del navbar */
}

.dropdown-item:hover {
    background-color: #ddd; /* Cambio de color al pasar el mouse */
}

.rounded-button {
    border-radius: 20px; /* Esquinas redondeadas para el botón */
    padding: 10px 20px; /* Aumenta el padding para hacer el botón más grande */
    white-space: nowrap;
}


.navbar .navbar-brand {
    color: #0056b3;
    font-size: 24px;
}

.navbar .navbar-nav .nav-link {
    color: #0056b3;
}

.navbar .btn {
    background-color: #007bff;
    color: #ffffff;
}

#navbarNav{
    margin-right: 10%;
}

#logo {
    width:  70px;
    height: 70px;
}

/* Estilo adicional */
.banner-text {
    padding-left: 100px;
    border-radius: 8px; /* Bordes redondeados */
}

.hero_banner {
    background-color: #e2dcde;
    height: 100%;
    width: 100%;
    
}

.hero_banner_h3 {
    color: blueviolet;
    text-align: center; /* Centrar el texto horizontalmente */
    font-size: 2.5rem; /* Ajusta el tamaño de fuente a tu gusto */
    font-weight: bold; /* Aplica negrita */
    margin: 0 auto; /* Centra el elemento en el contenedor si es necesario */
}

.modal-content {
    background: transparent; /* Elimina el fondo del modal */
    border: none; /* Elimina el borde */
}
.modal-body {
    text-align: center; /* Centra el contenido */
    padding: 0; /* Elimina el padding */
}

.modal-body img {
    max-width: 100%; /* Cambia este valor según lo grande que quieras que se vea la imagen */
    max-height: 100%; /* Cambia este valor según lo grande que quieras que se vea la imagen */
    width: auto; /* Asegura que la imagen mantenga su proporción */
    height: auto; /* Asegura que la imagen mantenga su proporción */
}

/* Services Section */
.section {
    padding: 50px 20px;
    text-align: center;
}

.section h3 {
    color: #0056b3;
    margin: 20px 0;
}

.section p {
    color: #666;
    font-size: 16px;
}

/* Committed Section */
.bg-light {
    background-color: #e9ecef;
    padding: 50px 20px;
}

.btn-rounded {
    border-radius: 20px; /* Esquinas redondeadas del botón */
}

.btn-custom {
    background-color: #0040ff;  /* Un azul más intenso */
    border-color: #0040ff;      /* Asegurar que el borde también sea azul */
    width: 50%;                 /* Hacer que el botón ocupe la mitad del ancho */
    border-radius: 20px;        /* Esquinas redondeadas */
    display: inline-block;      /* Para evitar que se expanda al 100% */
    text-align: center;         /* Alinear texto al centro */
}

.btn-custom:hover {
    background-color: #0033cc;  /* Azul más oscuro al pasar el mouse */
}

/* Pick insurance section */ 
.section-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.service-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    border: 1px solid #ddd;
    width: 100%; /* Asegura que ocupe todo el ancho */
    box-sizing: border-box; /* Incluir borde y padding en el ancho */
    margin: 0 10px;
}

.service-item h4 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: blue;
}

.service-item p {
    color: #666;
}

.service-item:hover {
    transform: translateY(-10px); /* Mueve el div hacia arriba */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra para efecto de elevación */
}


/* Here to help */

.feature-item {
    padding: 30px; /* Margen interno más grande en los cuatro lados */
    background-color: #f9f9f9;
}

.feature-item h4 {
    font-size: 1.5rem;
    margin: 30px;
}

.feature-item p {
    font-size: 1rem;
    color: #666;
    margin: 30px;
}

.feature-link {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    margin: 30px; /* Separación superior para el enlace */
}

.feature-link:hover {
    text-decoration: underline;
}

.feature-item img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 250px; /* Establece una altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen para que ocupe el contenedor sin deformarse */
    object-position: center; /* Centra la imagen dentro del contenedor */
}


/* Rectangulo  */
.rectangle-section {
    background-color: white; /* Color de fondo del rectángulo */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    margin-bottom: 1170px; /* Aumenta el margen negativo para sobresalir más sobre el footer */
    position: relative; /* Asegura que el fondo se aplique correctamente */
    z-index: 2; /* Asegúrate que el z-index sea mayor que el del footer */
    top: 55px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.rectangle-section h5 {
    margin-top: 10px; /* Espaciado superior para los títulos */
    margin-bottom: 10px; /* Espaciado inferior para los títulos */
}

.rectangle-section p {
    margin: 10px 0; /* Espaciado para el texto */
}

.social-icons {
    display: flex; /* Usamos flexbox para alinear los iconos en una fila */
    justify-content: center; /* Centra los iconos */
    margin-top: 10px; /* Espaciado superior para los iconos */
}

.icon_media {
    width: 24px; /* Tamaño de los iconos de las redes sociales */
    height: 24px; /* Tamaño de los iconos de las redes sociales */
    margin: 0 10px; /* Espaciado lateral entre iconos */
}

.rectangle-section h4 {
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}

.icon {
    width: 20px; 
    height: 20px;
    vertical-align: middle; /* Alinear verticalmente en el medio */
    margin-right: 8px; /* Espaciado entre iconos */
}

/* Footer */
footer {
    background-color: #2196f3; /* Asegúrate de que el fondo sea oscuro */
    color: white; /* Color del texto del footer */
    padding: 20px 0; /* Espaciado superior e inferior */
    position: relative; /* Mantiene el footer en su posición normal */
    z-index: 1; /* Asegúrate de que el z-index del footer sea menor que el del rectángulo */
}

.header-container {
    position: relative;
    display: flex;
    flex-direction: column; /* Coloca la barra superior primero en pantallas grandes */
}

/* Responsive */
@media (max-width: 768px) {
    .navbar .navbar-nav {
        text-align: center;
    }

    .header-container {
        flex-direction: column; /* Cambia el orden para poner la navbar primero */
    }

    
    .navbar {
        order: 1; /* La navbar aparece primero */
        position: absolute; /* Posiciona la navbar flotando sobre la top-bar */
        top: 0; /* Ajusta para que la navbar esté en la parte superior */
        left: 0;
        width: 100%; /* Asegura que ocupe todo el ancho */
        z-index: 10; /* Asegura que esté encima de la top-bar */
        height: 50px; /* Ajusta la altura de la navbar para hacerla más pequeña */
    }

    .container{
        max-width: 100%;
        padding: 0;
    }

    .container-fluid{
        width: 30%;
        margin-left: 0;
    }

    .navbar .navbar-brand img {
        margin-top: 10%;
        height: auto;
    }

    .navbar-toggler{
        margin-left: 15%;
        position: absolute;
    }

    .custom-navbar-brand {
        flex: 0 0 50px; /* Ajusta el ancho del logo */
        max-width: 50px; /* Limita el ancho máximo */
    }

    /* Ajustar la barra superior */
    .top-bar {
        order: 2; /* La top-bar se mostrará después de la navbar */
        height: 75px;
        left: 250px;
    }

    .top-bar span, .top-bar strong {
        font-size: 0.8rem; /* Tamaño del texto */
    }

    .top-bar-mobile{
        left: 30%;
        top: 20%;
        position: relative;
        display: block;
    }

    .top-contact-info{
        left: 0;
        margin-left: 10%;
        top: 0;
    }
}

/* Pantallas grandes */
@media (min-width: 769px) {
    

    /* Cambia el orden de los elementos */
    .navbar {
        order: 2; /* La barra de navegación aparecerá primero */
    }

    .top-bar {
        order: 1; /* La barra superior aparecerá después */
    }
}

/* Pantallas más chicas */
@media (max-width: 630px) {
    .navbar-toggler{
        margin-left: 22%;
    }

    .top-bar-mobile{
        display: none !important;
    }
}


#scrollTopBtn {
    position: fixed;       /* Se mantiene fijo en la pantalla */
    bottom: 50px;          /* Espacio desde el borde inferior */
    right: 20px;           /* Espacio desde el borde derecho */
    display: none;         /* Ocultamos el botón inicialmente */
    background-color: #260455; /* Color de fondo */
    border: none;          /* Sin bordes */
    border-radius: 50%;    /* Botón redondeado */
    padding: 10px;         /* Tamaño del botón */
    cursor: pointer;       /* Manito al pasar sobre el botón */
}
.back_top_arrow{
    height: 5%;
    width: 5%;
}


.fade-in {
opacity: 0;                   /* Inicialmente invisible */
transform: translateY(50px);   /* Desplazado 50px hacia abajo */
transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Animación suave */
}